*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('images/fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.page{
	width: 800px;
	margin: 0 auto;
}
.header{
	height:  125px;
	background-image: url('images/header-fon.jpg');
	background-size: cover;
}
.header h1{
	font-size: 55px;
	margin-left: 10px;
}
.header h2{
	text-align: center;
    margin-top: 18px;
    font-size: 29px;
    margin-right: 93px;
}
.body-top{
	margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    
}
.body-top a{
	padding: 5px 10px;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color:	#d0cfcf;
}
.body-top .active-link{
	background-color: #69f169;
}
.body-content{
	min-height: 300px;
	border: 1px solid black;
	padding: 20px;
	background-color: #d0cfcf;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.body-content h2{
	text-align: center;
	font-size: 40px;
}
.body-content p{
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}
.body-content img{
	width: 220px;
	margin: 0 auto;
}

.cheng-body{
	min-height: 300px;
	border: 1px solid black;
	padding: 20px;
	background-color: #d0cfcf;
}
.cheng-body ul{
	padding-left: 30px;
	list-style: none;
}
.cheng-body li{
	position: relative;
	margin-bottom: 5px;
}
.cheng-body li:before{
	content: "";
	height: 5px;
	width: 5px;
	position: absolute;
	background-color: #05ff0575;
	display: block;
	left: -20px;
    top: 12px;
}
.cheng-body li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
}
.cheng-body li a:hover{
	text-decoration: underline;
}

.prod-body{
	min-height: 300px;
	border: 1px solid black;
	padding: 20px;
	background-color: #d0cfcf;
	display: flex;
}
.prod-body .left{
	width: 50%;
}
.prod-body .right{
	width: 50%;
}
.prod-body .left h2{
	font-size: 25px;
	margin-bottom: 15px
}
.prod-body .left img{
	object-fit: contain;
	height: 250px;
}
.prod-body .right{
	font-size: 20px;
	padding-top: 38px;
}
.ing{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
}
.ing-wrap{
	padding-left: 50px;
}
.ing-item{
	margin-bottom: 5px;
	display: flex;
	font-size: 18px;
}
.ing-item .name{
	width: 200px;
}