        @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');

        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
        }

        .display-load {
            display: none;
        }

        .clear,
        .clearfix {
            clear: both;
        }

        .reset-list {
            padding: 0;
            margin: 0;
        }

        .reset-list li {
            list-style: none;
        }

        .opacity-block {
            opacity: 0;
        }

        /**@Universal templates begin**/
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        /**@Through styles end**/
        body {
            font-size: 13px;
            padding: 0;
            margin: 0;
            background: #f6f7fa;
            color: #434343;
            font-family: 'Open Sans', sans-serif;
            position: relative;
            min-height: 100%;
        }


        body a {
            text-decoration: none;
        }

        .wrapper {
            min-height: 100%;
            width: 100%;
        }


        .wrapper-1280 {
            padding: 0 20px;
            margin: 0 auto;
            position: relative;
        }

        @media (min-width: 768px) {
            .wrapper-1280 {
                max-width: 1620px;
                min-width: 1200px;
            }
        }

        .content-default {
            opacity: 0;
        }

        .header {
            position: relative;
            z-index: 1;
            width: 100%;
            top: 0;
            height: 184px;
            margin-bottom: 30px;
        }

        .header .top-line-menu {
            height: 80px;
            padding-top: 17px;
            text-align: center;
        }

        .header .top-line-menu .logo {
            display: inline-block;
            font-size: 0;
        }

        .header .top-line-menu .logo.active img {
            -webkit-transition-duration: 700ms;
            -moz-transition-duration: 700ms;
            -ms-transition-duration: 700ms;
            -o-transition-duration: 700ms;
            transition-duration: 700ms;
        }

        .header .top-line-menu .logo.active img.part-a {
            top: 0;
        }

        .header .top-line-menu .logo.active img.part-r {
            bottom: 0;
        }

        .header .top-line-menu .logo.active img.part-right {
            margin-left: 0;
        }

        .header .top-line-menu .logo.active svg .animate-path {
            transform: rotate(380deg);
        }

        .header .top-line-menu .logo._svg {
            width: 177px;
        }

        .header .top-line-menu .logo._svg svg .animate-path {
            transition: 2s ease;
            transform-origin: 12% 50%;
        }

        .header .top-line-menu .logo img {
            max-height: 39px;
            display: inline-block;
            position: relative;
            max-width: 180px;
        }

        .header .top-line-menu .logo img.part-a {
            top: -16px;
        }

        .header .top-line-menu .logo img.part-r {
            bottom: -19px;
        }

        .header .top-line-menu .logo img.part-right {
            margin-left: 40px;
        }

        .header .bottom-line {
            height: 104px;
            background: #fff;
            display: table;
            width: 100%;
            -webkit-box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.2);
        }

        .header .bottom-line .bottom-line-conteiner {
            height: 104px;
            display: table-cell;
            vertical-align: middle;
            padding: 0 2% 0 3%;
        }

        .header .bottom-line .bottom-line-conteiner .search {
            margin-top: 10px;
            float: left;
            width: 25%;
            position: relative;
            height: 30px;
        }

        .header .bottom-line .bottom-line-conteiner .search .button {
            height: 20px;
            width: 20px;
            border: 0;
            padding: 0;
            position: absolute;
            z-index: 2;
            right: 5px;
            top: 5px;
            display: none;
            cursor: pointer;
            opacity: .4;
            background: url("./var/themes/default/skin/fonts/icons/ico-search.png") no-repeat center;
            background-size: cover;
        }

        .header .bottom-line .bottom-line-conteiner .search .button:hover {
            opacity: 1;
        }

        .header .bottom-line .bottom-line-conteiner .search .button.active {
            display: block;
        }

        .header .bottom-line .bottom-line-conteiner .search div.search-btn {
            height: 30px;
            width: 30px;
            padding: 3px;
            border: 0;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            display: block;
            float: left;
            cursor: pointer;
            background: url("./var/themes/default/skin/fonts/icons/ico-search.png") no-repeat center center #fff;
            background-size: 24px 24px;
        }

        .header .bottom-line .bottom-line-conteiner .search div.search-btn:before {
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            margin-right: -10px;
            width: 10px;
            height: 30px;
            background: #fff;
        }

        .header .bottom-line .bottom-line-conteiner .search input#searchstring {
            display: block;
            width: 0;
            height: 30px;
            line-height: 30px;
            background: #e8ebee;
            border: none;
            padding: 0;
            font-size: 16px;
            font-family: 'Open Sans Bold', sans-serif;
            font-weight: 700;
            color: #434343;
            -webkit-transition-duration: 300ms;
            -moz-transition-duration: 300ms;
            -ms-transition-duration: 300ms;
            -o-transition-duration: 300ms;
            transition-duration: 300ms;
        }

        .header .bottom-line .bottom-line-conteiner .search input#searchstring.active {
            -webkit-transition-duration: 300ms;
            -moz-transition-duration: 300ms;
            -ms-transition-duration: 300ms;
            -o-transition-duration: 300ms;
            transition-duration: 300ms;
            width: 100%;
            padding: 0 35px 0 55px;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block {
            position: relative;
            float: right;
            width: 320px;
            height: 42px;
            text-align: center;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown {
            cursor: pointer;
            display: inline-block;
            height: 30px;
            position: relative;
            float: left;
            margin-top: 6px;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown.active:before {
            background: url('./var/themes/default/skin/fonts/icons/phones-open-close.png') no-repeat center top;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown:before {
            position: absolute;
            content: '';
            width: 15px;
            height: 7px;
            left: 0;
            top: 13px;
            background: url('./var/themes/default/skin/fonts/icons/phones-open-close.png') no-repeat center bottom;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown .phone-item,
        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown .phone-item-active {
            width: 270px;
            line-height: 30px;
            display: block;
            position: relative;
            padding-right: 2%;
            padding-left: 26px;
            color: #434343;
            font-size: 24px;
            line-height: 32px;
            font-family: 'Open Sans';
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown .phone-item strong,
        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown .phone-item-active strong {
            font-family: 'Open Sans Bold', sans-serif;
            font-weight: 700;
            color: #244b82;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown .phone-item-absolute {
            position: absolute;
            z-index: 6;
            background: #fff;
            display: none;
        }

        .header .bottom-line .bottom-line-conteiner .phones-block .phones-list-dropdown .phone-item-absolute .phone-item {
            position: relative;
            z-index: 5;
        }


.reviews-list-bl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.reviews-list-bl-img {
    border-radius: 50%;
    background: #fff;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.reviews-list-bl-right {
    flex: 1;
}

.reviews-list-bl-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}
.reviews-list-bl-name .date {
    font-style: italic;
    font-weight: 400;
}

@media(max-width: 767px){
    .reviews-list-bl {
        flex-direction: column;
    }
    .reviews-list-bl-right {
        text-align: center;
        margin-top: 10px;
    }
}